h3 {
  font-family: $main-font;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
}

i:hover {
  color: $main-green;
}

ul {
  font-family: $main-font;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 10px;
  font-size: 18px;
}

.completed-list {
  margin-top: 30px;
  color: $main-grey;
  border-top: 1px solid $main-grey;
  padding-top: 10px;
}

.check-box {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 15px;
  background-color: $check-box-color;
  box-shadow: 2px 2px 5px $main-grey;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 5px $main-grey;
  }
}

.completed {
  background-color: $main-light-grey;
  background: url('./images/check.png');
  background-size: cover;
  box-shadow: none;
}

.note-card {
  width: 280px;
  height: 400px;
  background-color: #FFF;
  border: 1px solid $main-grey;
  border-radius: 10px;
  box-shadow: 2px 2px 8px black;
  padding: 20px;
}

.edit-button-note {
  background: url('./images/pencil.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 20px;
  margin: 0 auto;
  transition-duration: 1s;
  width: 20px;

  &:hover {
    transform: scale(1.3);
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

li {
  z-index: 20;
}