h3 {
  font-family: $main-font;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

i {
  font-size: 16px;
  margin: 5px 0 5px 0;
  padding-right: 10px;

  &:hover {
    color: $main-green;
  }
}

ul {
  font-family: $main-font;
  padding-inline-start: 0;
  margin: 10px;
  font-size: 18px;
  max-height: 140px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.issue-body {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.completed-list {
  margin-top: 10px;
  color: $main-grey;
  border-top: 1px solid $main-grey;
  padding-top: 10px;
}

.incomplete-list::-webkit-scrollbar,
.completed-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.incomplete-list::-webkit-scrollbar:vertical,
.completed-list::-webkit-scrollbar:vertical {
  width: 11px;
}

.incomplete-list::-webkit-scrollbar-thumb,
.completed-list::-webkit-scrollbar-thumb  {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}

.note-card {
  width: 280px;
  height: 350px;
  background-color: #FFF;
  border: 1px solid $main-grey;
  border-radius: 10px;
  box-shadow: 2px 2px 8px black;
  padding: 20px;
}

.edit-button-note {
  position: relative;
  left: 210px;
  bottom: 10px;
  background: url('./images/pencil.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 20px;
  margin: 0 auto;
  transition-duration: 1s;
  width: 20px;

  &:hover {
    transform: scale(1.3);
    background: url('./images/pencil-green.png');
    background-size: cover;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}