.my-masonry-grid {
  display: -webkit-box; 
  display: grid;
  padding-top: 240px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  grid-gap: 30px;
  margin: 0 auto 40px auto;
  justify-content: center;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}