#notes-wrapper {
  padding-top: 240px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  grid-gap: 30px;
  margin: 0 auto 40px auto;
  justify-content: start;
}