header {
  @include dimensions(200px, 90%);
  background: linear-gradient(#939faf, $main-grey);
  border: 10px solid #FFF;
  border-radius: 0 0 30px 30px;
  border-top: none;
  left: 0;
  margin: 0 auto 5px auto;
  position: fixed;
  right: 0;
  z-index: 8;
}

.new-note-icon {
  @include fontStyling($big-plus-icon-color, 60px);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  &:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }
}

#title-text {
  @include fontStyling(#FFF, 50px);
  @include dimensions(40px, 130px);
  background-color: $main-grey;
  left: 75%;
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  top: 160px;
}

#add-note-link {
  display: block;
  margin: 45px auto 0 auto;
  width: 60px;
}

#tooltip {
  font-size: 12px;
}