.screen-text {
  @include fontStyling(white, 40px);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 240px;
  text-align: center;
}

.fa-exclamation-triangle {
  @include fontStyling(#dac279, 85px)
}

.container-404 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

.text-404 {
  @include fontStyling($main-light-grey, 35px)
}