*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient($main-grey, #5f6b7a);
  background-repeat: no-repeat;
}

button,
input {
  &:focus {
    outline: none;
  }
}


