*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: linear-gradient($main-grey, #5f6b7a);
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

button,
input,
select {
    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 655px) {
    #title-text {
        margin-left: -60px;
    }
};

@media screen and (max-width: 400px) {
    #title-text {
        margin-left: -73px;
    }
};

@media screen and (max-width: 360px) {    
    .note-pop-up {
        left: 230px;
        width: 300px;
    }

    .note-pop-up input {
        margin: 0;
        width: 190px;
    }

    .title-input {
        width: 200px;
    }

    li {
        width: 226px;
    }
};

@media screen and (max-width: 375px) {    
    .note-pop-up {
        left: 237px;
        width: 300px;
    }
};

@media screen and (max-width: 360px) {    
    .note-pop-up {
        left: 229px;
    }
};

@media screen and (max-width: 320px) {
    .note-pop-up {
        left: 215px;
        width: 290px;
    }
    
    .note-card {
        height: 315px;
    }

    .note-pop-up input {
        width: 180px;
    }

    .title-input {
        width: 160px;
    }

    li {
        width: 218px;
    }
};


