.issue-li {
  border-bottom: 1px solid grey;
  margin: 8px 0;

  i {
    cursor: pointer;
    padding: 5px;
  }

  input {
    border: transparent;
  }
}

.list-delete-button {
  background: url(./images/delete.png);
  background-size: cover;
  border: none;
  margin-top: 7px;
  height: 14px;
  width: 14px;

  &:hover {
    background: url(./images/delete-green.png);
    background-size: cover;
  }
}

.incomplete-item {
  background: url(./images/square.png);
  background-size: cover;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  height: 16px;
  width: 16px;

  &:hover {
    background: url(./images/square-green.png);
    background-size: cover;
  }
}

.complete-item {
  background: url(./images/checkbox.png);
  background-size: cover;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  height: 16px;
  width: 16px;

  &:hover {
    background: url(./images/checkbox-green.png);
    background-size: cover;
  }
}