.issue-li {
  border-bottom: 2px solid #ededed;
  margin: 8px 0;

  i {
    cursor: pointer;
    padding: 5px;
  }

  input {
    border: transparent;
  }
}

.list-delete-button {
  background: url(./images/delete.png);
  background-size: cover;
  border: none;
  margin-top: 3px;
  height: 15px;
  width: 15px;

  &:hover {
    background: url(./images/delete-green.png);
    background-size: cover;
  }
}

.incomplete-item {
  background: url(./images/square.png);
  background-size: cover;
  margin-right: 5px;
  border: none;
  height: 18px;
  width: 18px;

  &:hover {
    background: url(./images/square-green.png);
    background-size: cover;
  }
}

.complete-item {
  background: url(./images/checkbox.png);
  background-size: cover;
  margin-right: 5px;
  border: none;
  height: 18px;
  width: 18px;

  &:hover {
    background: url(./images/checkbox-green.png);
    background-size: cover;
  }
}

.fa-square {
  margin-right: 5px;
}